<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>D inside - Microsite</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/fasvicons/favicon-16x16.png" sizes="16x16">
    <!-- Bootstrap -->
    <link href="assets/css/vendor.min.css" rel="stylesheet">
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    
      
        <link href="assets/css/Pages/qz-detail.css" rel="stylesheet">
      
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="main-wrapping">

      <!-- HEADER -->
      <header>
        
      </header>
      <!-- HEADER -->


      <!-- CONTAINER -->
      <main class="site-container">


<div class="detail-qz">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="qz-question">
          <div class="wrapp-paging-container">
            <span>
              <a class="paging-link--wide first" href="#"><b>Kembali</b></a>
            </span>
            <span>
                  <span class="pagination-number">2/12</span>
            </span>
            <span>
                  <a class="paging-link--wide last" href="#"><b>Berikutnya</b></a>
            </span>
          </div>
        </div>
        <article class="qz-question">
           <form class="qz-form">
              <div class="qz-field">
                <div class="qz-title">
                    <p>
                        Penyelidikan dan penjajakan daerah yang diperkirakan
                        mengandung mineral berharga dengan jalan survei geologi,
                        survei geofisik, atau pengeboran dengan tujuan menemukan
                        deposit dan mengetahui luas wilayahnya
                    </p>
                </div>
                <div class="qz-answer">
                  <input type="radio" id="switch_1" name="switch_3" value="yes"/>
                  <label for="switch_1">A) Produksi</label>
                  <input type="radio" id="switch_2" name="switch_3" value="maybe" />
                  <label for="switch_2">B) Disposisi</label>
                  <input type="radio" id="switch_3" name="switch_3" value="no" />
                  <label for="switch_3">C) Eksplorasi</label>
                  <input type="radio" id="switch_4" name="switch_3" value="no" />
                  <label for="switch_4">D) Eksploitasi</label>
                </div>
              </div>
          </form>
        </article>
      </div>
    </div>
    <div class="sos-bar">
   Share:
   <a href="#"><i class="fa fa-twitter"></i></a>
   <a href="#"><i class="fa fa-facebook-official"></i></a>
   <a href="#"><i class="fa fa-google-plus"></i></a>
   <a href="#"><i class="fa fa-linkedin"></i></a>
</div>
  </div>
</div>

      </main>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <footer class="site-footer">
        <div class="container">
          
        </div>
      </footer>
      <!-- FOOTER -->
    
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>

    

  </body>
</html>
